body {font-family: "Times New Roman", times, serif; background-color: #FFFFCC; color: #000080; font-size: small}
h1 {font-family: garamond , serif; font-size: x-large; color: #000080; display: inline}
h2 {font-family: garamond , serif; font-size: large; color: black}
h3 {font-family: garamond , serif; font-size: large; color: #000080}
hr {height: 3px; border-top: solid; color: #000080;}
p.links {font-family: arial , san-serif; font-size: x-small; color: #000080; display: inline}
p.updated {font-family: arial , san-serif; font-size: xx-small; color: #008000; display: inline}
p.composition {font-family: arial , san-serif; font-size: small; font-weight: bold; color: #000080}
p.composer {font-family: arial , san-serif; font-size: x-small; font-weight: normal; color: #000080; display: inline}
p.comment {font-family: "comic sans ms" , san-serif; font-size: x-small; color: #000080}
p.details {font-family: "courier new" , monospace; color: black; font-size: x-small}  
p.tiny {font-family: arial, san-serif; font-size: xx-small; color: #008000; display: inline}
pre {font-family: "courier new" , monospace; color: black; font-size: x-small}  
font.new {font-family: "Times New Roman", times, serif; font-size: small; font-weight: bold; font-style: italic; color: red}
font.peal {font-family: arial , san-serif; font-size: x-small; color: #000080}
div.rfigure {
  float: right;
  border: thin navy solid;
  margin: 0.5 em;
  padding: 1.5 em;
  text-align: center;
}
div.lfigure {
  float: left;
  border: thin navy solid;
  margin: 0.5 em;
  padding: 1.5 em;
  text-align: center;
}
p.caption {
  font-weight: bold;
  font-size: smaller;
  text-indent: 0;
}
